.wrapper{
    width: 400px;
    text-align: center;
margin: 10px auto; 
border: 1px solid grey;  
}
img{
    width: 100%;
}
a{
    display: block;
 text-align: right;
 padding: 5px;
}
p{
    text-align: justify;
    padding: 10px;
}